body{
    font-family: 'Questrial', sans-serif;

}
.primerSection , .txt{
    text-align: center;
    margin: auto;
}
 .primerSection  .txt  h2{
    font: 400;
    color: rgb(4, 76, 172);
}
.primerSection .txt, h3{
    font: 400;
    color: rgb(4, 90, 180);
}
.primerSection .txt, h4{
    font: 100;
    color: rgb(109, 133, 207);
}
section .SobreNosotros{
    color: aliceblue;
    background-color: rgb(42, 103, 188);
}
.container-btn
{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}
.btn{
    background-color: rgb(42, 103, 188);
    border-color: #fff;
    color: #fff;
    text-align: center;
    padding: .4rem .4rem;
    width: 10%;
    margin-bottom: 1rem;
    border:1px solid #fff;
}
.btn:hover{
    background-color: #fff;
    color:rgb(4, 76, 172) ;
    transition-duration: .7s;
}
.btn-blanco{
    background-color: #fff;
    border-color: rgb(42, 103, 188);
    color: rgb(42, 103, 188);
    text-align: center;
    padding: .4rem .4rem;
    width: 10%;
    margin-bottom: 1rem;
    border:1px solid rgb(4, 76, 172);
}

.btn-blanco:hover{
    background-color: rgb(42, 103, 188);
    color:#fff ;
    transition-duration: .7s;
    border:1px solid rgb(4, 76, 172);

}

.header-socialmedia{
    width: 100vw;
}

.nav{
    display: flex;
    flex-wrap: nowrap;
}
.navIMG{
    background-image: url(/img/lema2.png);
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 50%;

}
.espaciado{
    width: 50%;
}
.conjuntoLinks{
    width: 100%;
    display: flex;
    margin-left: auto;
    text-align: end;
    align-items: flex-end;
    align-content: flex-end;
    align-self: center;
    height: 10%;
}

.conjuntoLinks a{
    margin: 1rem;
}
.conjuntoLinks input{
    width: 25%;
    margin: 1rem;

}

li{
    list-style:none;
}

.links{
    text-decoration: none;
    color: rgb(4, 76, 172);
}

.container{
    position: relative;
    display: flex;
    overflow: hidden;
    min-width: 1000px;
    min-height: 700px;
    margin-bottom: 2rem;
}
.container > div{
    width: 50%;
}
.containerIMG{
    background-image: url(/img/6.png);
    background-size: 50%;
    background-position-x:right;
    background-position-y: center;
    background-attachment:fixed ;
    background-repeat: no-repeat;

}

.primerSection h2{
    font-size: 4rem;
    color: rgb(4, 76, 172);
    font-weight:1400;
    margin-bottom: .5rem;
}
.primerSection h3{
    font-size: 2rem;
    color: rgb(4, 76, 172);
    margin-top: .5rem;
}
.primerSection h4{
    font-size: 1rem;
    color: rgb(4, 76, 172);
    font-weight: 100;
}


.GLPA{
    text-align: center;
    margin: 0rem;
    background-image:url(/img/GLPA-AUTO-EQUIPO.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center ;
    background-position-y: center ;
    min-width:1000px;
    min-height: 1000px;
    width: 100%;
}

.GLPA img{
    object-fit: cover;
}
.Primero-GLPA{
    position: relative;
    background-color: #eef;
    opacity: 0.5;
    width: 50%;
    height: 1000px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Primero-GLPA::before{
    position: relative;
    background-color: #eef;
    opacity: 1;
    width: 50%;
    height: 1000px;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.btn-blanco{
    background: transparent;
    border:1px solid rgb(4, 76, 172);
    margin-top: 1rem;
    padding: .5rem;
}

.Nuestros-Seguros{

}

.Nuestros-seguros-presentacion{
    text-align: center;

}

.Nuestros-seguros-presentacion h2{
    font-size: 3rem;
    color: rgb(4, 76, 172);    
}

.Nuestros-seguros-presentacion h3{
    font-size: 1.5rem;
    color: rgb(4, 76, 172);
    font-weight: 100;    
}

.Nuestros-seguros-presentacion p{
    display: block;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    width: 50%;
    height: 100px;
    color: rgb(4, 76, 172);

}


.galeria{
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
    grid-template-rows: repeat(4, 150px);
    justify-content: center;
}
.galeria div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;    
    font-size: 2rem;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover , contain;
    background-position: center;
    font-size: 1rem;
}

.galeria-titulo{
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: rgb(4, 76, 172);

}
.galeria-primero{
    grid-column: 1 / 2;
    grid-row: 2;
    background-image: url(/img/2.png);
    background-size: contain;
    display: flex;
}    
.galeria-segundo{
    grid-column: 2 / 3;
    grid-row: 2;
    background-image: url(/img/3.png);
    background-size: contain;

}
.galeria-tercero{
    grid-column: 3 / 4;
    grid-row: 2;
    background-image: url(/img/1.png);
    background-size: contain;

}
.galeria-cuarto{
    grid-column: 1 / 2;
    grid-row: 3;
    background-image: url(/img/5.png);
    background-size: contain;

}   
.galeria-quinto{
    grid-column: 2 / 3;
    grid-row: 3;
    background-image: url(/img/7.png);
    background-size: contain;

}
.galeria-sexto{
    grid-column: 3 / 4;
    grid-row: 3;
    background-image: url(/img/4.png);
    background-size: contain;

}
.galeria-septimo{ 
    grid-column: 1 / 2;
    grid-row: 4;
    background-image: url(/img/6.png);
    background-size: contain;

}

.galeria-octavo{ 
    grid-column: 2 / 3;
    grid-row: 4;
    background-image: url(/img/8.png);
    background-size: contain;

}
.galeria-grid-texto{
    background-color: rgb(215,215,215);
    width: 100%;
    padding: 1rem;
    align-self:flex-end ;

}

.efecto-opacidad:hover{
    opacity: .4;
    transition-duration:.3s;
    background-color: rgb(215,215,215);
    
}

.imgSobreNosotros{
    font-weight: 900;
    font-size: 2rem;
    opacity: .75;
    text-align: center;  
    color: #fff;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 1rem 2rem;
}   
.txtSobreNosotros{
    text-align: center;
    line-height: 2rem;
    padding: 1rem 4rem;
}

.tituloSobreNosotros{
    position: absolute;
    align-self: center; 
    opacity: 1;
}

.imgSobreNosotros img{
    display: block !important;
    max-height: 7%;
    max-width: 90%;
}

.trabajamosCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    align-content: center;
    margin: 2rem;
}

.trabajamosCon img{
    margin: 1rem;
}

/* ----------------------------------------------------FORMULARIO-------------------------------------------------------------------------- */

.formulario-contacto{
    background-image: url(/img/8.png);
    background-repeat: no-repeat;
    background-size: cover,contain;
    height: 700px;
}

.formulario-contacto div{
    width: 50%;
}

.formulario-parte1{
    background-color: rgb(4, 76, 172);
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.txtBox{
    width: 50%;
    height: 2rem;
    background-color: rgb(4, 76, 172);
    margin: 1rem;
    border: 1px solid #fff ;
    color: #fff;
}
.txtBox::placeholder{
    color: #fff;
}


.whatsapp{
    text-decoration: none;
}
